<p>watchlist works!</p>
<div class="watchlist-container">
    <h2>My Watchlist</h2>
  
    <div *ngIf="watchlist.length === 0">
      <p>No items in your watchlist.</p>
    </div>
  
    <div *ngFor="let auction of watchlist" class="watchlist-item">
      <img [src]="'http://127.0.0.1:8000'+auction.image" alt="item image">
      <div class="details">
        <h3>{{ auction.title }}</h3>
        <p>{{ auction.description }}</p>
        <p>Starting Price: ₹{{ auction.starting_price }}</p>
        <p>Current Price: ₹{{ auction.current_price }}</p>
        <button (click)="removeFromWatchlist(auction.id)">Remove</button>
      </div>
    </div>
  </div>
  